@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Common? */
body{
    background-color: #EAE8FE;
}
body,h1,h3,p,button{
    font-family: 'Noto Sans KR';
    margin: initial;
    padding: initial;
}
h1 img{
    display: block;
    width: 386px;
    margin: 0 auto 67px auto;
}
ul,li{
    margin: initial;
    list-style: none;
}
button{
    padding: initial;
    border: 0px;
    background-color: transparent;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-weight: 500;
}
input{
    border: 1px solid #bdbdbb;
    border-radius: 5px;
    padding-left: 6px;
}
input::placeholder{
    color: #BDBDBD;
}
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* -------------------- Layout ----------------------- */
.container{
    max-width: 748px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "a c";
    gap: 20px;
}
.section-pickCola{
    grid-area: a;
}
.section-userMoney{
    grid-area: b;
}
.section-user-selected-cola{
    grid-area: c;
}


.cola-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 31px;
} 


/* user input form Layout */
.user-form{
    display: grid;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: 2.1fr 1fr;
    gap: 12px;
    margin: 20px 27px 28px 27px;
}
.user-form .show-balance{
    grid-area: a;
}
.user-form .btn-change{
    grid-area: b;
}
.user-form input{
    grid-area: c;
}
.user-form .btn-input{
    grid-area: d;
}

/* mediaquery */
@media(max-width: 748px){
    body{
        background: #fff;
    }
    h1 img{
        width: 188px;
        height: 88px;
        margin: 0 auto 24.88px auto;
    }
    .container{
        width: 370px;
        margin: 0 auto;
        grid-template-areas: 
        "a"
        "b"
        "c";
        gap: 0px;
        grid-template-columns: 1fr;
    }
    .cola-items{
        margin-top: 0px;
    }
    .user-form{
        margin-bottom: 14px;
    }
}


/* -------------------- style -------------------- */
.container section{
    background-color: #fff;
}

.cola-items button{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    width: 94px;
    height: 130px;
    border-radius: 10px;
}
.cola-items img{
    width: 36px;
    height: 65px;
}
.cola-items p:first-of-type{
    font-size: 9px;
    line-height: 10px;
    margin: 6px auto 7px auto;
}
.cola-items p:last-of-type{
    border-radius: 50px;
    background: #6327FE ;
    color: #fff;
    width: 70px;
    height: 22px;
    line-height: 23px;
    font-size: 12px;
}
.sold-out{
    position: relative;
}
.sold-out::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.8) url(img/Sold-out.svg) no-repeat center / 4rem;
    border-radius: 10px;
}
/* .cola-items button:active{
    border: 3px solid #6327FE;
    box-shadow: none;
} */
.cola-items .active{
    outline: 3px solid #6327FE;
    box-shadow: none;
}

.user-form{
    width: 306px;
    height: 194px;
    margin-top: 20px;
}
.btn-change,
.show-balance,
.user-form input,
.btn-input,
.scroll,
.show-money{
    font-weight: 500;
}
.show-money{
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EAE8FE;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 14px;
}

.user-form .btn-get{
    background: #6327FE;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

/* custom scrollbar */
.scroll{
    background: #EAE8FE;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar{
    width:12px;
}
.scroll::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 50px;
    /* background-clip: padding-box; */
    border: 4px solid #EAE8FE;
    height: 79px;
}
.scroll::-webkit-scrollbar-track {
    margin-top: 5px;
    background: #EAE8FE;
}

.scroll ul{
    padding: 12px 12px;
}
.scroll li{
    height: 46px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    display: flex;
    margin-bottom: 6px;
}
.scroll li>span{
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-left: auto;
    font-size: 14px;
    line-height: 30px;
}

.user-selected-cola ul{
    min-height: 365px;
}
.user-select-cola li{
    width: 170px;
}
.user-selected-cola li{
    width: 276px;
}

.scroll img{
    width: 18px;
    height: 33px;
}
.scroll p span{
    font-size: 9px;
}
.scroll li img{
    vertical-align: middle;
    margin: 6.5px 5px 6.5px 10px ;
}
.scroll li span{
    margin-top: 8px;
}




.section-userMoney{
    height:50px
}
.show-money.user-money{
    padding: 6px 10px;
    width: 290px;
    margin: 9px auto;
}




h3{
    font-size: 16px;
    text-align: center;
    margin: 25px auto 13px auto;
}
.section-user-selected-cola{
    height: 474px;
}
.user-selected-cola{
    width: 306px;
    height: 364px;
    margin: 0 auto;
}
.total-price{
    width: 306px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    margin: 6px 27px auto 27px;
}